<h1>From NIST 800-63c, the minimum information about the subscriber and authentication event:</h1>
<ul>
	<li>iss - An HTTPS URL identifying the IdP that issued the assertion.</li>
	<li>sub - An IdP-specific subject identifier representing the subscriber.</li>
	<li>aud - An IdP-specific audience identifier, equal to the OAuth 2.0 client identifier of the client at the IdP.</li>
	<li>exp - The timestamp at which the ID Token expires and after which SHALL NOT be accepted the client.</li>
	<li>iat - The timestamp at which the ID Token was issued and before which SHALL NOT be accepted by the client.</li>
</ul>